canvas{
    position:absolute;
    top:0;bottom:0;right:0;left:0;
    margin:auto;
  }

  canvas:hover{
    cursor: pointer;
    line-height: 100px;
  }

  p{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
    text-align: center;
  }

