@import url(https://fonts.googleapis.com/css?family=Dosis:300,400);


*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('/imgs/home.jpg');
    font-family: 'Dosis', sans-serif;
    overflow: block;
}

.sidebar{
    height: 100%;
    width: 60px;
    position: fixed;
    background-color: #111;
    z-index: 1;
    top: 50px;
    left: 0;
    padding-top: 80px;
    overflow-x: hidden;
}

.sidebar a{
    padding: 6px 8px 6px 14px;
    text-decoration: none;
    font-size: x-large;
    color: #818181;
    display: block;    
    
}

.fa{
    box-sizing: 40px;
    width: 35px;
    text-align: center;
    transition: all .4s;
}

.fa:hover{
    background-color: #909FEA;
    border-radius: 500%;  
    color: whitesmoke;
    opacity: 10;
    transform: rotate(360deg);
    box-shadow: 2px 2px 24px #fff;
}

.fa.smi{
    font-size: 15px;
    padding-top: 5px;
    transition: all .5s;
}

.fa.fa-instagram:hover{
    background: #e4405f;
    color: white;
}

.fa.fa-linkedin:hover{
    background: #0077b5;
    color: white;
}

.fa.fa-github:hover{
    background: #00405d;
    color: white;
}

.fa.fa-twitter:hover{
    background: #00acee;    
    color: white;
}

.logo{
    text-align: center;
    color: #818181;
    background-color: black;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 10px 10px;
    top: 0;
    width: 60px;
    height: 50px;
    border: 3px solid black;
    transition: all .4s;
}

.logo:hover{
    border: 3px solid whitesmoke;
    opacity: 10;
    color: whitesmoke;
    transform: rotate(360deg);
    box-shadow: 2px 2px 24px #fff;
}

h1{
    padding-top: 50px;
    margin-left: 10px;
    text-decoration: none;
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 0.1em;
    color: #909FEA;
    text-shadow: .5px .5px 1px #D9D9D9; 
}

p{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: lighter;
    color: whitesmoke;
    width: 300px;
}

.split{
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    overflow: hidden;
}

.left{
    left:100px;
    
}

.right{
    right: 0;
    width: 55%;
}

form{
    margin-top: 40px;
}

input{
    color: whitesmoke;
    padding: 8px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #121211;
    border-color: #909FEA;
}

textarea{
    color: whitesmoke;
    margin-left: 10px;
    width: 360px;
    background-color: #121211;
    border-color: #909FEA;
}

#subject{
    width: 360px;
}

button{
    margin-left: 320px;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor:pointer;
    border-color: #909FEA;
    border-radius: 5px;
    color: #909FEA;;
}


